@import url(//db.onlinewebfonts.com/c/d9a58a393d946d86051fbd9a0b594d2f?family=Audrey);
@font-face {font-family: "Audrey"; src: url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot"); src: url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.woff") format("woff"), url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d9a58a393d946d86051fbd9a0b594d2f.svg#Audrey") format("svg"); } 


@font-face {
    font-family: "myFirstFont";
    src: url("dubai/Dubai\ Bold.ttf");
}

html {
    scroll-behavior: smooth
}
.arabic {
    font-family: "myFirstFont";
    font-size: 50pt;
}

.logomove{
    margin-bottom: -50px; margin-left: 10%; z-index: 5;
}
.logomove1{
    
    margin-bottom: -50px; z-index: 5;
    text-decoration: underline;
    margin-left: 90%;
    color: black;
}
.uhplogo {
width: 200px;
}

.parallax {
    background: url("../../static/images/bg3.png") repeat fixed 100%;
    width: 100%;
    
}


.shrink {
    width: 400px;
}


.shrink1 {
    width: 650px;
}

.aldarlog{
width: 180px;
}

.caption {
    font-size: 30pt;
    font-family: 'Audrey';
    color: #9E9079;
}


.text {
    font-size: 15pt;
    font-family: 'Audrey';
    color: #9E9079;
}
.colsa {
opacity: 40%;
}
.colsa:hover {
opacity: 1;
}

.icon {
    width: 80px;
    
}


.tree {
    margin-left:230px;
    margin-bottom: -170px;
}

.carousel-inner img {
    margin: auto;
  }

  .carousel-control-next,
.carousel-control-prev, .carousel-indicators{
    filter: invert(100%);
}

.icon2 {
    width: 40px;
    opacity: 40%;
}
.icon2:hover {
    opacity: 1;
}
.carwidth {
    width:75%;
}
.nearby {
    width: 100%;
}
.ame {
    width: 100%;
}
.ame1 {
    width: 950px;
    margin-left: -250px;
}
.sanctuary {
    width: 100%;
}
.map {
    width: 100%;
}

.sancpara{
    font-size: 17pt; margin-top: 150px; margin-right: 40px; margin-left: 40px;
}
.sancpara1{
    font-size: 17pt; margin-top: 130px; margin-right: 40px; margin-left: 40px;
}

.amepara {
margin-top: 90px;
font-size: 17pt;
}
.cultpara {
    margin-top: 210px;
    font-size: 17pt;
    
}

.amelist {
font-size: 17pt;
}

.textbox {
    color: #707070;
    font-family: 'Audrey';
    font-size: 12pt;
    font-weight: bold;
}

.formm {
    background-color: #707070;
}

.picontainer {
    margin-top: -1200px;
}

.pricevalue{
    font-size: 50pt;
}

.npricevalue {
    margin-top: 40px;
}
.npricevalue1 {
    margin-top: 40px;
}
.bg {
    margin-top: -100px;
    height: 1500px;
}
.imgbtn {
 margin-top: 50px;
}

.caption1 {
    font-size: 20pt;
    font-family: 'myFirstFont';
    color: #9E9079;
    text-align: right;
}

.padded {
    padding-left: 400px;
}

.text1 {
    font-size: 12pt;
    font-family: 'myFirstFont';
    color: #9E9079;
    margin-top: 140px;
}

.bringcent{
    margin-left: 60px;
}
.rowcent {
    margin-left: 100px;
}
.submitcenter{
    margin-left: -40px;
}

.aftrimg{
    margin-top: 800px;
}

.fontext
{
    font-family: 'myFirstFont';
}


.trunkgap{
    margin-top: 200px;
}
.frstbtn {
    text-decoration: none; color: black;font-family: 'myFirstFont'; background-color: #9e9079;  height: 30px; width: 110px; 
}
.trunk{
    width:200px;
}
.amebutton{
    margin-top: -70px;
}
.payplan{
    width: 100%;
}
.pp{
    font-family: 'Audrey';color:#9d9295; font-weight: bold;
}
.gg{
    margin-bottom: -100px;
}
@media only screen and (max-width: 500px) {
    .gg {
        margin-bottom: -10px;
    }
    .pp {
        font-size: 14pt;
        margin-left: 10px;
    }
    .payplan{
        width: 100%;
    }
    .textbox {
        font-size: 8pt;
    }
    .dess {
        font-size: 12pt;
    }
    .text2 {
        font-size: 9pt;  
    }
    .text1 {
        font-size: 10pt;
    }
    .moveup {
        margin-top: -100px;
    }
    .trunk{
        width:100px;
    }
    .frstbtn{
        height: 20px; width: 90px; font-size: 8pt; margin-top: -40px;
    }
    .trunkgap{
        margin-top: -80px;
    }
    .colfont1{
        font-size: 6pt;
    }
    .whenres {
        margin-right: 10px;
        margin-left: 10px;
    }
    .fontext {
        font-size: 8pt;
    }
    .aftrimg{
        margin-top: 300px;
    }
.logomove{
margin-left: 10%;
}
.logomove1{
    margin-left: 25%;
    margin-top: 23px;
    font-size: 8pt;
}

.uhplogo {
width: 150px;
}
    
    .aldarlog{
    width: 90px;
    }

    .shrink {
        width: 300px;
    }

    .shrink1 {
        width: 300px;
    }
    
    .icon {
        width: 40px;    
    }
    .icon2 {
        width: 30px;
    }
    .tree {
        margin-left:10px;
        margin-bottom: -50px;
    }

    .carwidth {
    width:100%;
    }
    .ame,
    .sanctuary,
    .map {
        width: 100%;
    }
    .nearby {
        width: 100%;
        margin-top: -80px;
    }
    .sancpara{
        font-size: 10pt; margin-top: 15px; margin-right: 10px; margin-left: 10px;
    }
    .sancpara1{
        font-size: 10pt; margin-top: 15px; margin-right: 10px; margin-left: 10px;
    }
    
    .amepara {
        margin-top: 10px;
        font-size: 10pt;
        }
        
        .amelist {
        font-size: 10pt;
        }
        .cultpara {
          
                margin-top: 10px;
                font-size: 10pt;
    
        }
        
     .cultca {
         margin-top: 140px;
     }
     .formm {
        background-color: transparent;
    }
    .picontainer {
        margin-top: -400px;
    }
    .pricevalue{
        font-size: 20pt;
    }
    .arabic{
        font-size: 12pt;
    }
    .npricevalue {
        margin-top:17px;
        font-size: 4pt;
    }
    .npricevalue1 {
        margin-top:17px;
        font-size: 6pt;
    }

    .bg {
    margin-top: -35px;
    height: 500px;
    }
    .imgbtn {
    margin-top: 50px;
    margin-bottom: -80px;
    }
    .bringcent {
        margin-left: 10%;
    }
    .ame1 {
        margin-top: 30px;
        width: 300px;
        margin-left: -90px;
    }

.amebutton{
    margin-top: 10px;
}

    .colfont{
        font-size: 8pt;
    }
    .rowcent {
        
        margin-left: 0px;
    }
    .submitcenter{
        margin-left: -15px;
    }
    .padded {
        padding-left: 0px;
    }
    .textunderame{
        margin-top: 30px;
        margin-left: 120px;
       }
    .caption1 {
        font-size: 12pt;
    }
    .caption{
        margin-left: 20px;
    }
    
    
}



.contenedor-slide{
    height: auto;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.carousel{
    box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.432);
}


.contenedor{
    
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.contenedor h1{
    font-size: calc(16px + 4vw);
}
.input-form{
    padding: 15px;
    font-size: calc(12px + 1.5vw);
}
